html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  max-width: 1440px;
  font-size: 14px;
  font-family: 'TT Lakes', sans-serif;
  font-style: normal;
  margin: 0px;
  background: #f8f8f8;
}

main {
  background: #f8f8f8;
}
.main__container {
  padding-left: 16px;
  padding-right: 16px;
}
button {
  background: transparent;
  border: none !important;
  padding: 0px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  height: 88px;
  border-bottom: 1px solid #d9fff5;
  padding-left: 16px;
  padding-right: 16px;
}

.header__logo {
  border-radius: 50%;
}

.header__block {
  display: flex;
}

.header__divider--invisible,
.btn--invisible-mobile,
.main__activity--invisible-mobile {
  display: none;
}

.btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff3e79;
  align-self: center;
}
.header__btn {
  margin-right: 16px;
}

.header__divider {
  align-self: center;
  height: 32px;
  width: 2px;
  background: #eaeaea;
  border-radius: 1px;
  margin-right: 20px;
}

.header-desktop {
  display: none;
  background: #f8f8f8;
}
.tittle {
  background: #f8f8f8;
}
.header-desktop__name {
  font-size: 28px;
  line-height: 40px;
  margin: 24px 16px 24px 0;
}

.header-desktop__name::before {
  position: absolute;
  content: '';
  background: #41f6d7;
  width: 4px;
  height: 40px;
  border-radius: 0 50% 50% 0;
  margin: auto 12px auto -32px;
}

.header-desktop__container {
  display: flex;
  justify-content: space-between;
  background: #f8f8f8;
}

.main__title::before {
  position: absolute;
  content: '';
  background: #41f6d7;
  width: 4px;
  height: 40px;
  border-radius: 0 50% 50% 0;
  margin: auto 12px auto -16px;
}
.title__highlight {
  background: #41f6d7;
  width: 4px;
  height: 40px;
  border-radius: 0 50% 50% 0;
  margin: auto 12px auto -16px;
}
.header-desktop__block {
  display: flex;
}

.header-desktop__btn {
  margin-right: 32px;
  cursor: pointer;
}

.label {
  display: flex;
  align-items: center;
  margin-right: 8px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  cursor: pointer;
}

.menu__list {
  display: flex;
  overflow: auto;
  list-style: none;
  margin-left: 0px;
  padding-left: 17px;
  margin-top: 0px;
  height: 60px;
  margin-bottom: 0;
}

.menu__list::-webkit-scrollbar {
  width: 0px;
}

.menu__item {
  display: flex;
  margin-right: 24px;
}
.menu__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #7e7e82;
  white-space: nowrap;
  margin-top: auto;
  margin-bottom: auto;
}

.menu__link:hover {
  background: #ffffff;
  border: 2px solid #b8ffec;

  border-radius: 6px;
  padding: 8px 9px 8px 16px;
  margin-right: -11px;
  margin-left: -18px;
}

.main__activity {
  font-size: 14px;
  line-height: 18px;
  color: #1b1c21;
  padding-right: 16px;
  margin-top: 0;
}

.main__text-btn {
  background: transparent;
  border: none !important;
  color: #1b1c21;
  white-space: nowrap;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #1b1c21;
  margin-top: 10px;
  padding-left: 0px;
  margin-bottom: 16px;
  cursor: pointer;
}

.main__text-btn::before {
  content: url('../img/icon.svg ');
  background-image: url('img/icon.png');
  margin: auto 16px auto 0px;
  width: 8px;
  height: 11px;
}

.main__info-img {
  width: 110%;
  margin-left: -16px;
}

@media (min-width: 400px) {
  .main__info-img {
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
  }
}
@media (min-width: 768px) {
  .header__divider--invisible,
  .btn--invisible-mobile,
  .main__activity--invisible-mobile {
    display: inline;
  }

  .header__divider--invisible {
    align-self: center;
    height: 32px;
    width: 2px;
    background: #eaeaea;
    border-radius: 1px;
    margin-right: 20px;
  }

  .main__title::before {
    margin: auto 12px auto -24px;
  }
  .main__container {
    padding-left: 24px;
    padding-right: 24px;
  }
  .btn--invisible-mobile {
    margin-right: 16px;
  }

  .title__highlight {
    margin-right: 20px;
    margin-left: -24px;
  }

  .header__container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .main__info {
    display: flex;
    vertical-align: top;
    justify-content: space-between;
  }
  .menu__list {
    padding-left: 18px;
  }
  .main__activity {
    line-height: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .main__description {
    margin-right: 48px;
  }
  .main__activity--invisible-mobile {
    display: block;
    height: 16%;
    overflow: hidden;
  }
  .main__menu {
    margin-bottom: 10px;
  }

  .continue-text__button {
    margin-top: 10px;
  }
  .main__info-img {
    display: flex;
    border-radius: 5px;
    width: 360px;
    height: 220px;
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media (min-width: 1120px) {
  .header-desktop {
    display: inline;
  }
  .main__title {
    display: none;
  }

  .title {
    display: none;
  }

  .header {
    display: none;
  }

  .title__highlight {
    margin-right: 30px;
    margin-left: -32px;
  }
  .header-desktop__container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .header-desktop__btn:last-of-type {
    margin-right: 0px;
  }
  .menu__list {
    padding-left: 18px;
    flex-wrap: wrap;
    height: 80px;
  }
  .main__container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .main__description {
    margin-bottom: 14px;
    margin-right: 36px;
  }

  .first-block {
    display: flex;
    vertical-align: top;
  }

  .first-block__container {
    width: 45%;
  }
  .main__activity--invisible-mobile {
    display: block;
    height: 25%;
  }
  .main__info-img {
    width: 530px;
    height: 340px;
  }
}

@media (min-width: 1440px) {
  body {
    margin-left: auto;
    margin-right: auto;
  }
}
